.recipe-card {
  flex: 1 0 23%;
  min-width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-family: $font2;
  transition: 0.3s ease-in-out;
  position: relative;

  &:hover {
    transform: scale(1.05);

    .info {
      opacity: 1;
      visibility: visible;
    }

    img {
      filter: blur(2px);
    }
  }

  h2,
  .title {
    font-size: 1.3rem;
  }

  img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  .info {
    position: absolute;
    width: 350px;
    height: 220px;
    min-width: 250px;
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $lowBlack;
    color: $white;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    font-family: $font2;
    font-size: 1rem;
    user-select: none;
    border-radius: 10px;

    .coeur {
      position: absolute;
      top: 0px;
      right: 2px;
      text-align: end;
      z-index: 2;
      padding: 3px;

      span {
        cursor: pointer;
        color: white;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
      }

      span:hover {
        transform: scale(1.1);
        color: red;
      }
    }

    h2 {
      padding-top: 15px;
      width: 80%;
      margin: 0 auto;
      font-size: 1.3rem;
      color: $white;
    }
    .footer-card-container {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 10px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 12px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      color: $white;
      z-index: 10; /* Assure que cette section est au-dessus de tout effet de flou */

    }

    button {
      position: absolute;
      left: 50%;
      bottom: 40%;
      transform: translate(-50%, 0);
      padding: 8px 16px;
      border-radius: 20px;
      border: none;
      background-color: $primary;
      color: $white;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: darken($primary, 10%);
      }
    }

    .score,
    .time {
      display: flex;
      align-items: center;
      gap: 8px; 
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: 14px;
      line-height: 1;
    }

    .star {
      display: inline-flex; 
      vertical-align: middle;
    }

    .time svg {
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }

    .time svg path,
    .star svg path {
      fill: #ffd700;
    }
  }
}

.coeur svg {
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  fill: rgb(255, 255, 255);

  
  &:hover {
    transform: scale(1.1);
    color: red;
  }
}

.coeur .filled {
  fill: red;
}

.coeur .animate {
  animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
}

.search-title {
  
}