:root {
    --color-black: #0f0f0f;
    --color-white: #ffffff;
}

.container {
    display: block;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

img {
    max-width: 100%;
}

button {
    background: none;
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;
}

img {
    border-radius: 4px;
}

.carousel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    overflow: hidden;
    position: relative;
}

.carousel__nav {
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / -1;
    padding: 1.5rem;
}

.carousel__nav button {
    color: var(--color-black);
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 1px solid var(--color-black);
}

.carousel__nav button:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

.carousel__nav button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.carousel__nav button:disabled:hover {
    color: var(--color-black);
    background-color: transparent;
}

.carousel__track {
    display: flex;
    transition: transform 400ms linear;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel__track-container {
    grid-column: 1 / -1;
    overflow: hidden;
}

.carousel__slide {
    min-width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 0.5rem 0;
}

.carousel__slide-image {
    width: 60%;
    display: block;
}

.carousel__slide-caption {
    text-align: left;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.carousel__slide-content {
    opacity: 0;
    margin-top: 4rem;
    transition: opacity 250ms linear;
}

.carousel__slide-content h2 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.carousel__slide-content p {
    margin: 0.5rem 0;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.carousel__slide-content button {
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid var(--color-black);
    transition: background-color 250ms linear;
}

.carousel__slide-content button:hover,
.carousel__slide-content button:focus-visible {
    color: var(--color-white);
    background-color: var(--color-black);
}

@media (min-width: 768px) {
    .carousel {
        grid-template-columns: repeat(12, 1fr);
        grid-column: 2 / span 11;
    }

    .carousel__track {
        width: calc(100% + (100% / 12));
        margin-left: calc(100% / 12);
    }

    .carousel__slide {
        min-width: calc((100% / 2.75) - (16px / 2.75)); /* Réduction de l'écart sur les écrans plus grands */
    }
}
