.recipe-card {
  flex: 1 0 23%;
  min-width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-family: $font2;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);

    .info {
      opacity: 1;
      visibility: visible;
    }

    img {
      filter: blur(2px);
    }
  }

  h2, .title {
    font-size: 1.3rem;
  }

  img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  .info {
    position: absolute;
    width: 350px;
    height: 220px;
    min-width: 250px;
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $lowBlack;
    color: $white;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    font-family: $font2;
    font-size: 1rem;
    user-select: none;
    border-radius: 10px;

    .coeur {
      position: absolute;
      top: 0px;
      right: 2px;
      text-align: end;
      z-index: 2;
      padding: 3px;

      span {
        cursor: pointer;
        color: white;
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
      }

      span:hover {
        transform: scale(1.1);
        color: red;
      }
    }

    h2 {
      padding-top: 15px;
      width: 80%;
      margin: 0 auto;
    }

    .diete, .lunch, .score {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .diete {
      top: 10px;
    }

    .lunch {
      top: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
    }

    .score {
      bottom: 10px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      span {
        display: flex;
        align-items: center;
      }
    }
  }
}
