.header-container {
  display: grid;
  grid-template-columns: 30% 60%;
  padding: 25px 15px;
  background: rgba(255, 255, 255, 0.8);
  height: 12dvh;
  text-align: center;

  h1 {
    font-family: $font1;
    color: $lowBlack;
    font-size: 2.8rem;
  }
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  gap: 35px;
  font-size: 1.3rem;

  a {
    text-decoration: none;

    &.nav-active li {
      position: relative;
      padding-bottom: 5px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: currentColor;
        animation: slideIn 0.3s ease forwards;
      }
    }

    li {
      font-family: $font2;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8);
      text-transform: uppercase;
      transition: color 0.2s ease-in-out;
    }

    &:hover li {
      color: rgb(0, 0, 0);
    }
  }

  span {
    font-weight: bold;
    font-size: 1.8rem;
  }

  input::placeholder {
    color: $black;
    font-size: 1.3rem;
  }
}

.search {
  width: 450px;
  height: 35px;
  min-width: 200px;

  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.609);
  padding: 5px 10px;
  font-size: 1.3rem;

  text-align: center;
  transition: 0.3s ease-in-out;
  padding: 10px;

  background: transparent;
  color: $black;
}

.search:focus {
  width: 500px;
  outline: none;
  transition: 0.2s ease-in-out;
}

.search-container {
  button {
    position: relative;
    right: 37px;
    top: 8px;
    border-radius: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.611);
  }
}

.search-button {
  position: absolute;
  background: transparent;
  border: 0px;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
