@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font1: "Bona Nova SC", serif;

$violet: rgba(148, 32, 163, 0.8);
