@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background: url("../../public/assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(249, 249, 249, 0.8);
  box-shadow: 0 4px 12px rgba(28, 28, 28, 0.8);
  border-bottom: 2px solid #dddddd;
}

.leftPart {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  color: rgba(69, 90, 100, 0.6);
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 0;
}
.leftPart span svg {
  fill: #888888;
}
.leftPart a {
  text-decoration: none;
  color: rgba(69, 90, 100, 0.8078431373);
}
.leftPart:hover a {
  cursor: pointer;
}

.rightPart {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}
.nav-container a {
  text-decoration: none;
  margin: 0 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  color: #555;
  transition: color 0.3s ease;
}
.nav-container a.nav-active {
  color: #ff7043;
  font-weight: bold;
}
.nav-container a:hover {
  color: #FF7043;
}
.nav-container li {
  list-style: none;
}
.nav-container span {
  color: #888888;
  font-size: 1.5rem;
  margin: 0 10px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.search-container .search {
  width: 280px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid rgba(69, 90, 100, 0.8078431373);
  font-size: 1rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  transition: border 0.3s ease;
  background-color: rgba(69, 90, 100, 0.6);
  color: rgba(255, 255, 255, 0.8);
}
.search-container .search:focus {
  outline: none;
  border-color: #FF7043;
}
.search-container .search::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.search-container .search::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.search-container .search-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888888;
  transition: color 0.3s ease;
}
.search-container .search-button svg {
  color: rgba(255, 255, 255, 0.8);
}
.search-container .search-button:hover {
  color: #ff7043;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.recipe-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 35px;
}

.sort-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: white;
  width: 96%;
  height: auto;
}
.sort-container li {
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px 25px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}
.sort-container li:hover {
  background: white;
  color: rgba(69, 90, 100, 0.8078431373);
}

.container h1 {
  font-style: 3rem;
}

.sort-container li.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

.more-container {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 20px;
}
.more-container button {
  background-color: rgba(69, 90, 100, 0.6);
  color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.more-container button:hover {
  background-color: #FF7043;
  color: white;
}

.recipe-card {
  flex: 1 0 23%;
  min-width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-family: "Helvetica Neue", Arial, sans-serif;
  transition: 0.3s ease-in-out;
  position: relative;
}
.recipe-card:hover {
  transform: scale(1.05);
}
.recipe-card:hover .info {
  opacity: 1;
  visibility: visible;
}
.recipe-card:hover img {
  filter: blur(2px);
}
.recipe-card h2,
.recipe-card .title {
  font-size: 1.3rem;
}
.recipe-card img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.recipe-card .info {
  position: absolute;
  width: 350px;
  height: 220px;
  min-width: 250px;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(69, 90, 100, 0.6);
  color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 10px;
}
.recipe-card .info .coeur {
  position: absolute;
  top: 0px;
  right: 2px;
  text-align: end;
  z-index: 2;
  padding: 3px;
}
.recipe-card .info .coeur span {
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.recipe-card .info .coeur span:hover {
  transform: scale(1.1);
  color: red;
}
.recipe-card .info h2 {
  padding-top: 15px;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.8);
}
.recipe-card .info .footer-card-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
}
.recipe-card .info button {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, 0);
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background-color: #FF7043;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.recipe-card .info button:hover {
  background-color: #ff4910;
}
.recipe-card .info .score,
.recipe-card .info .time {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
}
.recipe-card .info .star {
  display: inline-flex;
  vertical-align: middle;
}
.recipe-card .info .time svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.recipe-card .info .time svg path,
.recipe-card .info .star svg path {
  fill: #ffd700;
}

.coeur svg {
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  fill: rgb(255, 255, 255);
}
.coeur svg:hover {
  transform: scale(1.1);
  color: red;
}

.coeur .filled {
  fill: red;
}

.coeur .animate {
  animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.form-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 650px;
  height: 670px;
  background: rgba(69, 90, 100, 0.8078431373);
  border-radius: 15px;
  padding: 5px 35px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h2 {
  font-size: 2.5rem;
  margin: 10px 10px;
}

.name-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  gap: 10px;
}
.name-container input {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  margin-top: 5px;
  border: 1px solid grey;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.name-container input:focus {
  outline: none;
  border: 2px solid #FF7043;
}

.name-input {
  display: flex;
  flex-direction: column;
}

.email-container {
  width: 96%;
  margin-top: 10px;
}
.email-container input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 10px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.email-container input:focus {
  outline: none;
  border: 2px solid #FF7043;
}

.query-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.query-container .general,
.query-container .support {
  width: 50%;
  display: flex;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0 30px;
  height: 45px;
  line-height: 1;
}

.label-radio1,
.label-radio2 {
  line-height: 3;
  cursor: pointer;
  padding-left: 15px;
}

input[type=radio] {
  width: 20px;
  color: gray;
  cursor: pointer;
}

.message,
.query {
  margin-top: 25px;
  margin-bottom: 10px;
}

.text-container {
  width: 100%;
}
.text-container textarea {
  width: 97%;
  height: 100px;
  border: 1px solid grey;
  border-radius: 8px;
  resize: none;
  padding: 10px;
  font-family: "Karla", sans-serif;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.text-container textarea:focus {
  outline: none;
  border: 2px solid #FF7043;
}

.check {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
.check label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#conscent {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

input[type=submit] {
  margin-top: 20px;
  width: 100%;
  height: 55px;
  background: #FF7043;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

input[type=submit]:active {
  background: #FF7043;
}

textarea:invalid {
  border: 1px solid red;
}

.notification-container {
  position: absolute;
  margin: 0 auto;
  left: 38%;
  width: 410px;
  height: 80px;
  top: 2%;
  background: hsl(187, 24%, 22%);
  z-index: 1;
  border-radius: 8px;
  color: white;
  padding: 15px 20px;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  visibility: hidden;
}

.notification-container.show {
  opacity: 1;
  transform: translateY(0);
}

.notifiction-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.notifiction-header svg {
  width: 20px;
}

.notifiction-footer {
  margin-top: 10px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    overflow: hidden;
  }
  .form h1 {
    font-size: 3rem;
  }
  .form-container {
    width: 80%;
    padding: 15px;
    height: auto;
  }
  .nav-container {
    margin: 20px auto;
    width: 90%;
    font-size: 1rem;
  }
  .nav-container .search,
  .nav-container span {
    display: none;
  }
  .notification-container {
    display: none;
  }
  .name-container {
    display: block;
    width: 100%;
  }
  .name-input {
    margin-top: 20px;
  }
}
.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
  padding: 5px;
  width: 95%;
  margin: 0 auto;
}

.carousel__container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.carousel--item {
  flex: 0 0 auto;
  margin: 0 8px;
  width: 280px;
  height: 380px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 350ms;
  position: relative;
}

.carousel__arrow {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel__arrow--left {
  left: -50px;
}

.carousel__arrow--right {
  right: -50px;
}

.category-title {
  font-size: 2.5rem;
  padding-top: 10px;
  color: white;
  text-align: center;
}

.discovered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.discovered {
  background: rgba(69, 90, 100, 0.6);
  color: rgba(255, 255, 255, 0.8);
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 250ms linear;
  font-size: 1.3rem;
}
.discovered:hover, .discovered:focus-visible {
  color: white;
  background-color: #FF7043;
}

.homepage {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.hero-section {
  background-color: rgba(69, 90, 100, 0.6);
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
  margin: 0 auto;
  width: 70%;
}

.hero-section h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.hero-section button {
  background-color: rgba(69, 90, 100, 0.6);
  color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.hero-section button:hover {
  background-color: #FF7043;
  color: white;
}

.categories h2 {
  font-size: 3.5em;
  color: rgba(69, 90, 100, 0.8078431373);
}

.category-list {
  display: block;
  gap: 20px;
}
.category-list .container {
  margin-top: 30px;
  background: rgba(69, 90, 100, 0.6);
  border-radius: 20px;
}

.category-item {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.favorites-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 35px;
}
.favorites-container img {
  max-width: 400px;
}

.fav-title {
  background-color: rgba(69, 90, 100, 0.6);
  color: white;
  padding: 40px 20px;
  border-radius: 10px;
  margin: 0 auto;
  width: 50%;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 20px;
}

.noFav {
  font-size: 3.5rem;
  color: white;
  margin: 0 auto;
}

.recipe-details {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}
@media (max-width: 768px) {
  .recipe-details {
    padding: 15px;
    margin-top: 15px;
  }
}
.recipe-details .recipe-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: start;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .recipe-details .recipe-header {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.recipe-details .recipe-header .recipe-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.recipe-details .recipe-header .recipe-info {
  margin-left: 25px;
}
@media (max-width: 768px) {
  .recipe-details .recipe-header .recipe-info {
    margin-left: 0;
    margin-top: 15px;
  }
}
.recipe-details .recipe-header .recipe-info h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
@media (max-width: 768px) {
  .recipe-details .recipe-header .recipe-info h1 {
    font-size: 2rem;
  }
}
.recipe-details .recipe-header .recipe-info ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-left: 15px;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 768px) {
  .recipe-details .recipe-header .recipe-info ul {
    -moz-column-count: 1;
         column-count: 1;
    margin-left: 0;
    text-align: left;
  }
}
.recipe-details .recipe-header .recipe-info ul li {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 8px;
}
.recipe-details .recipe-header .recipe-info ul li::before {
  content: "•";
  color: #ff6347; /* Tomato color */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.recipe-details .recipe-instructions h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #ff6347;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .recipe-details .recipe-instructions h3 {
    font-size: 1.8rem;
  }
}
.recipe-details .recipe-instructions div {
  font-size: 1.3rem;
  margin-bottom: 20px;
  line-height: 1.3;
}
.recipe-details .recipe-instructions .analyzed-instructions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grille responsive */
  gap: 20px;
}
@media (max-width: 768px) {
  .recipe-details .recipe-instructions .analyzed-instructions {
    grid-template-columns: 1fr;
  }
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ff6347;
}
@media (max-width: 768px) {
  .recipe-details .recipe-instructions .analyzed-instructions .instruction-step h4 {
    font-size: 1.3rem;
  }
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .recipe-details .recipe-instructions .analyzed-instructions .instruction-step p {
    font-size: 1rem;
  }
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step .ingredients-list {
  margin-top: 10px;
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step .ingredients-list strong {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .recipe-details .recipe-instructions .analyzed-instructions .instruction-step .ingredients-list strong {
    font-size: 1.1rem;
  }
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step .ingredients-list ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 15px;
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step .ingredients-list ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}
.recipe-details .recipe-instructions .analyzed-instructions .instruction-step .ingredients-list ul li::before {
  content: "•";
  color: #ff6347;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (max-width: 768px) {
  .recipe-details .recipe-instructions .analyzed-instructions .instruction-step .ingredients-list ul li {
    font-size: 0.95rem;
  }
}

/*  BURGER
========================================== */
.burger {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 20;
}
.burger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span:before, .burger span:after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  position: absolute;
  transition: all 0.3s ease;
}
.burger span:before {
  top: -8px;
}
.burger span:after {
  top: 8px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span:before, .burger.clicked span:after {
  top: 0;
}
.burger.clicked span:before {
  transform: rotate(45deg);
}
.burger.clicked span:after {
  transform: rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: rgba(255, 255, 255, 0.8);
}
.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */
.burger-menu {
  background-color: gray;
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.burger-menu.show {
  transform: translateX(0px);
}
.burger-menu.show ul.main li {
  transform: translateX(0px);
  opacity: 1;
}
.burger-menu.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}
.burger-menu.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}
.burger-menu.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}
.burger-menu.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}
.burger-menu.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}
.burger-menu.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}
.burger-menu.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}
.burger-menu.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}
.burger-menu.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}
.burger-menu.show .about, .burger-menu.show .social, .burger-menu.show ul.sub {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.85s;
}
@media (min-width: 667px) {
  .burger-menu {
    padding: 120px 90px 70px 90px;
  }
}
.burger-menu ul.main {
  list-style-type: none;
}
.burger-menu ul.main li {
  margin-bottom: 20px;
  transform: translateX(40px);
  opacity: 0;
  transition: all 0.3s ease;
}
.burger-menu ul.main li:last-of-type {
  margin-bottom: 0px;
}
.burger-menu ul.main li a {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.burger-menu ul.main li a span {
  color: white;
}
.burger-menu ul.main li a:hover {
  color: white;
}
.burger-menu .about {
  margin-top: 40px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease;
}
.burger-menu .about p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}
.burger-menu .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease;
}
.burger-menu .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.burger-menu .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
.burger-menu .social a:last-of-type {
  margin-right: 0px;
}
.burger-menu .social a:hover svg path, .burger-menu .social a:hover svg circle {
  fill: white;
}
.burger-menu .social a svg {
  width: 100%;
  height: 100%;
}
.burger-menu .social a svg path, .burger-menu .social a svg circle {
  fill: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}
.burger-menu ul.sub {
  list-style-type: none;
  margin-top: 40px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease;
}
.burger-menu ul.sub li {
  margin-bottom: 10px;
}
.burger-menu ul.sub li:last-of-type {
  margin-bottom: 0px;
}
.burger-menu ul.sub li a {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
.burger-menu ul.sub li a:hover {
  color: white;
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

.nav-weapon-container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 55px;
  z-index: 1;
  display: flex;
  align-items: center;
}
@media (max-height: 700px) {
  .nav-weapon-container {
    top: 20px;
  }
  .nav-weapon-container img {
    margin-top: 30px;
  }
}
.nav-weapon-container img {
  margin-left: -200px;
  margin-right: 235px;
  width: 120px;
  height: 120px;
}
@media (max-width: 1390px) {
  .nav-weapon-container img {
    margin-left: -150px;
    margin-right: 185px;
    width: 120px;
    height: 120px;
  }
}
.nav-weapon-container ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 14px;
  padding: 5px;
}
.nav-weapon-container ul li {
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-weapon-container ul li:hover {
  color: rgb(204, 56, 67);
  transition: 0.3s ease-in-out;
}
.nav-weapon-container ul a {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-weapon-container ul a:hover {
  color: rgb(204, 56, 67);
  transition: 0.3s ease-in-out;
}
.nav-weapon-container ul span {
  color: white;
  font-size: 2rem;
}/*# sourceMappingURL=index.css.map */