@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

body {
  background: url("../../public/assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.header-container {
  display: grid;
  grid-template-columns: 30% 60%;
  padding: 25px 15px;
  background: rgba(255, 255, 255, 0.8);
  height: 12dvh;
  text-align: center;
}
.header-container h1 {
  font-family: "Playfair Display", serif;
  color: rgba(0, 0, 0, 0.687);
  font-size: 2.8rem;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  gap: 35px;
  font-size: 1.3rem;
}
.nav-container a {
  text-decoration: none;
}
.nav-container a.nav-active li {
  position: relative;
  padding-bottom: 5px;
}
.nav-container a.nav-active li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  -webkit-animation: slideIn 0.3s ease forwards;
          animation: slideIn 0.3s ease forwards;
}
.nav-container a li {
  font-family: "Lato", sans-serif;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.nav-container a:hover li {
  color: rgb(0, 0, 0);
}
.nav-container span {
  font-weight: bold;
  font-size: 1.8rem;
}
.nav-container input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.687);
  font-size: 1.3rem;
}
.nav-container input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.687);
  font-size: 1.3rem;
}
.nav-container input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.687);
  font-size: 1.3rem;
}
.nav-container input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.687);
  font-size: 1.3rem;
}
.nav-container input::placeholder {
  color: rgba(0, 0, 0, 0.687);
  font-size: 1.3rem;
}

.search {
  width: 450px;
  height: 35px;
  min-width: 200px;
  border-radius: 8px;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 1.3rem;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 10px;
  background: transparent;
  color: rgba(0, 0, 0, 0.687);
}

.search:focus {
  width: 500px;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.search-container button {
  position: relative;
  right: 37px;
  top: 8px;
  border-radius: 10px;
  border-left: 2px solid black;
}

.search-button {
  position: absolute;
  background: transparent;
  border: 0px;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.recipe-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 35px;
}

.recipe-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23%;
          flex: 1 0 23%;
  min-width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}
.recipe-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.recipe-card:hover .title {
  visibility: hidden;
}
.recipe-card h2 {
  min-height: 60px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.recipe-card img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.recipe-card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.recipe-card .info h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.recipe-card .info .diete {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 280px;
  margin-top: 20px;
}
.recipe-card .info .lunch {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 200px;
  margin-top: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  width: 90%;
}
.recipe-card .info .score {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15px;
  margin-top: 20px;
}
.recipe-card:hover .info {
  opacity: 1;
  visibility: visible;
}

.title {
  font-size: 1.3rem;
}

.form-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 650px;
  height: 670px;
  background: rgba(0, 0, 0, 0.687);
  border-radius: 15px;
  padding: 5px 35px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 2.5rem;
  margin: 10px 10px;
}

.name-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  gap: 10px;
}
.name-container input {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.name-container input:focus {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}

.name-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-container {
  width: 96%;
  margin-top: 20px;
}
.email-container input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid grey;
  margin-top: 10px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.687);
  color: white;
}
.email-container input:focus {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}

.query-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.query-container .general,
.query-container .support {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0 30px;
  height: 45px;
  line-height: 1;
}

.label-radio1,
.label-radio2 {
  line-height: 3;
  cursor: pointer;
  padding-left: 15px;
}

input[type=radio] {
  width: 20px;
  color: gray;
  cursor: pointer;
}

.message,
.query {
  margin-top: 25px;
  margin-bottom: 10px;
}

.text-container {
  width: 100%;
}
.text-container textarea {
  width: 97%;
  height: 100px;
  border: 1px solid grey;
  border-radius: 8px;
  resize: none;
  padding: 10px;
  font-family: "Karla", sans-serif;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.text-container textarea:focus {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  gap: 15px;
}
.check label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#conscent {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

input[type=submit] {
  margin-top: 20px;
  width: 100%;
  height: 55px;
  background: hsl(169, 82%, 27%);
  border: 1px solid hsl(169, 82%, 27%);
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

input[type=submit]:active {
  background: hsl(187, 24%, 22%);
}

textarea:invalid {
  border: 1px solid red;
}

.notification-container {
  position: absolute;
  margin: 0 auto;
  left: 38%;
  width: 410px;
  height: 80px;
  top: 2%;
  background: hsl(187, 24%, 22%);
  z-index: 1;
  border-radius: 8px;
  color: white;
  padding: 15px 20px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
  visibility: hidden;
}

.notification-container.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.notifiction-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.notifiction-header svg {
  width: 20px;
}

.notifiction-footer {
  margin-top: 10px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    overflow: hidden;
  }
  .form h1 {
    font-size: 3rem;
  }
  .form-container {
    width: 80%;
    padding: 15px;
    height: auto;
  }
  .nav-container {
    margin: 20px auto;
    width: 90%;
    font-size: 1rem;
  }
  .nav-container .search,
  .nav-container span {
    display: none;
  }
  .notification-container {
    display: none;
  }
  .name-container {
    display: block;
    width: 100%;
  }
  .name-input {
    margin-top: 20px;
  }
}/*# sourceMappingURL=index.css.map */